.input {
  background-color: $LightGrayishCyan;
  font-size: $FormInputs;
  font-family: $FontPrimary;
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: .5rem;
  outline: none;
  text-align: right;
}